//浏览器重置样式
html, body, div, span, nav, header, iframe,
h1, h2, h3, h4, h5, h6, p, section, footer,
a, form, address, big, cite, code,
del, dfn, em, img, ins, fieldset, q, s, samp,
small, strike, strong, sub, sup,label, var,
b, u, i,input, dl, dt, dd, ol, ul, li{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
html,body{
  font:{
    size: 14px;
    family: "SimHei";
  }
  color: #333;
}
form,fieldset{
  border: 0 none;
}
ol,ul{
  list-style: none;
}
img{
  border: 0 none;
  max-width: 100%;
}
input{
  outline: none;
}
button{
  border: 0;
  font-family:"SimHei";
}
i,em{
  font-style: normal;
}
a{
  color: #535353;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

header{
  height:80px;
  background:rgba(0, 178, 114, 1);
  color:#fff;
  padding:0 30px;
  position:fixed;
  width:100%;
  z-index:99;
  top:0;
  .h-wrap{
    display:flex;
    justify-content:space-between;
    align-items:center;
    .logo{
      width:60px;
      height:60px;
      margin:10px 20px;
      img{
        width:100%;
        height:100%;
      }
    }
    .head-r{
      margin-right:50px;
      height:60px;
      display:flex;
      align-items:center;
      .logout{
        display:flex;
        margin-right:20px;
        width:30px;
        height:30px;
        img{
          width:100%;
          height:100%;
        }
      }
      .user-wrap{
        margin-right:30px;
        width:40px;
        height:40px;
        .user-list{
          display:none;
          padding-top:20px;
          ul{
            display:flex;
            box-shadow:0 0 5px #000;
            flex:1;
            justify-content:center;
            align-items:center;
            flex-direction:column;
            width:120px;
            li{
              padding:5px;
              display:flex;
              width:90%;
              justify-content:space-between;
              align-items:center;
              .followName{
                display:flex;
                width:85%;
              }
              img{
                width:12px;
              }
              &:hover{
                background:#ccc;
              }
            }
          }
        }
        &:hover{
          .user-list{ display:block; }
        }
      }

    }
  }

}
#containal {
  display:flex;
  margin-top:80px;
  #nav{
    flex:0 0 200px;
    border-right:2px solid #ccc;
    margin:5px;
    a{
      line-height:35px;
      height:35px;
      display:inline-block;
      width:90%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:hover{
        color:#00b272;
      }
    }
    .nav-head{
      display:flex;
      align-items:center;
      justify-content:space-between;
      &:hover{
        background:rgba(221,236,244,1);
      }
      .text{
        text-indent:20px;
        flex:1;
      }
      .icon{
        width:15px;
        height:15px;
        background:url("../images/category.png") no-repeat;
        background-size:15px;
        margin-right:20px;
        &:hover{
          background:url("../images/category_hover.png") no-repeat;
          background-size:15px;
          cursor:pointer;
        }
      }
    }
    .nav-list{
      .nav-section{
        .mainbav{
          a{
            text-indent:20px;
            background:url("../images/right.png") no-repeat 5px center;
            background-size:12px 12px;
          }
          &.open a{
            background:url("../images/under.png") no-repeat 5px center;
            background-size:12px 12px;
          }
        }
        ul{
          text-indent:20px;
          li{

            &.acLi{
              border-left:2px solid transparent;
              &:hover{
                background:rgba(221,236,244,1);
              }
              &.active{
                border-left:2px solid #00b272;
                background:rgba(221,236,244,1);
              }
            }
            a{
              font-size:14px;
            }
            ul.nav-section{
              text-indent:25px;
            }
          }
        }

      }
    }

  }
  #content{
    padding: 10px;
    width:1100px;
    margin-left:20px;
    h4{
      margin:30px 0 20px;
    }
    .version{
      line-height:30px;
      display:flex;
      align-items:center;
      justify-content:space-between;
      select{
        margin:0 10px;
      }
    }
    .section{
      margin:20px 0;
      .sec-head{
        margin-bottom:20px;
      }
      .basic-info{
        .item{
          line-height:30px;
          display:flex;
          align-items:center;
          &.urls{
            .method{
              margin:0 10px;
            }
            .copy{
              border:1px solid #ccc;
              margin:0 10px;
              border-radius:3px;
              height:20px;
              line-height:20px;
              &:hover{
                color:#00b272;
              }
            }
            .copysuc{
              display:none;
            }
          }
          &.extype{
            flex-direction:column;
            align-items:flex-start;
          }


        }
      }
      .sec-table{
        ul{
          display:flex;
          border:1px solid #ccc;
          li{
            padding:5px 10px;
            border-left:1px solid #ccc;
            &:first-child{
              border-left:none;
            }
          }
          .col-2{
            flex:2;
          }
          .col-1{
            flex:1;
          }
          .col-6{
            flex:6;
          }

        }
        .sec-table-list{
          ul{
            border-top:none;
            li{
              font-size:14px;
              display:flex;
              align-items:center;
              position:relative;
              min-height:16px;
              .icon-sub{
                width:12px;
                height:12px;
                left:-2px;
                background:url("../images/under.png") no-repeat;
                background-size:100% 100%;
                position:absolute;
                cursor:pointer;
                &.open{
                  background:url("../images/right.png") no-repeat;
                  background-size:100% 100%;
                }
              }
              &:first-child{
                color:#666;
                font-weight:bold;
                letter-spacing:1px;
              }
            }
          }
          .sub{
            ul{
              li:first-child{
                text-indent:10px;
              }
            }
          }
          span[data-ac="ac"]{
            color:#238dfa;
            font-weight:bold;
          }
        }

      }
    }
    #modal{
      display:none;
      position:fixed;
      width:50%;
      border:2px solid #ccc;
      border-radius:3px;
      padding:10px;
      background:#fff;
      box-shadow:0 0 5px #000;
      left:20%;
      top:40%;
      z-index:10;
      .header{
        display:flex;
        justify-content:space-between;
        height:30px;
        align-items:center;
        color:#333;
      }
      ul{
        display:flex;
        border:1px solid #ccc;
        li{
          padding:5px 10px;
          border-left:1px solid #ccc;

          &:first-child{
            border-left:none;
            position:relative;
          }
          .icon-sub{
            width:12px;
            height:12px;
            top:8px;
            left:-2px;
            background:url("../images/under.png") no-repeat;
            background-size:100% 100%;
            position:absolute;
          }
          span{
            display:inline-block;
          }
        }
        .col-2{
          flex:2;
        }
        .col-1{
          flex:1;
        }
        .col-6{
          flex:6;
        }

      }
    }
    .close{
      color:#333;
      &:hover{
        color:#00b272;
      }
    }
  }
}
#modalbg{
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(255,255,255,0.3);
  display:none;
  
}

