*{
  margin:0;padding:0;font-size:12px;
  font-family:"Microsoft YaHei";
  a{
    text-decoration:none;
  }
  ul li{
    list-style:none;
  }
}
$color:#FFCC5E;
header{
  width:100%;height:80px;background:$color;
  line-height:80px;
  position:fixed;
  z-index:100;
  top:0;
  .logo{
    width:50px;
    margin-left:50px;
    float:left;
    img{vertical-align:middle;}
  }
  .search{
    float:right;
    width:236px;
    height:30px;
    line-height:30px;
    border-radius:15px;
    margin-top:25px;
    background:#fff;
    position:relative;
    .searchtxt{
      position:absolute;
      left:10px;
      width:150px;
      overflow-y:auto;
      white-space:nowrap;
      background:#fff;
      li{
        width:100%;
        height:25px;
        a{
          display:inline-block;
          width:100%;
          height:25px;
          color:#000;
          &:hover{
            background:#ccc;
          }
        }
      }
    }
    input{
      height:30px;
      font-size:16px;
      width:180px;
      text-indent:25px;
      background:url("/html/img/search_bgy.png;") no-repeat 5px;
      border:0;
      padding:0;
    }
    button{
      width:52px;
      height:28px;
      background:$color;
      font-size:16px;
      text-align:center;
      color:#fff;
      border-bottom-right-radius:15px;
      border-top-right-radius:15px;
    }

  }
  .changeColor{
    float:right;
    margin:0 50px;
    a{
      width:14px;
      height:14px;
      display:inline-block;
      border-radius:50%;
      margin:0 3px;
    }
  }
}
.conTitle{
  position:fixed;
  top:80px;
  left:290px;
  height:35px;
  line-height:35px;
  font-size:14px;
  color:#b3b8bc;
  border-bottom:1px solid #b3b8bc;
  width:80%;
  background:#fff;
}
nav{
  width:255px;
  position:fixed;
  top:0;
  bottom:0;
  padding-top:110px;
  box-shadow:1px 0 2px rgba(0,0,0,0.1);
  background:#fff;
  z-index:99;
  overflow-y:auto;
  div{
    padding:8px 0 8px 15px;
    a{
      font-size:16px;
      color:#555B5E;
      display:inline-block;
      height:25px;
      line-height:25px;
      span{
        display:inline-block;
        width:190px;
        font-size:16px;
        overflow:hidden;
        text-overflow:ellipsis;
        height:25px;
        line-height:25px;
        white-space:nowrap;
      }
      .iconfont{position:absolute;right:10px;z-index:10}
    }
    .menu{
      span{
        width:162px;
      }
      .iconfont{font-size:14px}
    }
    .a_width{
      width:100%;
    }

    ul{
      text-indent:5px;
      li{
        a{
          font-size:14px;
          color:#99ABC1;
          overflow:hidden;
          text-overflow:ellipsis;
          white-space:nowrap;
          width:155px;
          text-indent:10px;
          &.active{
            color:$color;
            background:url("/html/img/dot-y.png") no-repeat 0 center;
          }

        }
      }
    }
  }

}
.content{
  margin-left:290px;
  padding-top:80px;
  width:80%;
  height:100%;
  &:first-child{
    padding-top:130px;
  }

  .main{
    border-bottom:1px solid #ddd;
    padding-bottom:120px;

    h5{
      font-size:16px;
      height:76px;
      line-height:76px;
    }

    .useGuide{
      background:url("/html/img/icon-m-y.png") no-repeat 0 28px;
      padding-left:30px;
      .explain{
        font-size:14px;
        color:#575b5e;
      }
      .main_nav{
        margin-top:30px;
        li{
          height:20px;
          line-height:20px;
          i{
            display:inline-block;
            width:6px;
            height:6px;
            border-radius:50%;
            background:$color;
            margin-bottom:2px;
            margin-right:10px;
          }
          a{
            font-size:14px;
            color:$color;
          }
        }
      }
    }

    .main_body{
      margin-top:70px;
      .Interface{
        background:url("/html/img/icon-d-y.png") no-repeat 0 2px;
        padding-left:30px;
        h6{
          color:#45494b;
          font-size:16px;
          margin-bottom:12px;
        }
        .method{
          margin-top:30px;
          p{
            color:#494d4f;
            font-size:14px;

            span{
              width:80px;
              display:inline-block;
              height:30px;
              font-size:14px;
              color:#000;
              font-weight:700;
            }
          }
        }
        .command{
          margin-bottom:47px;
          margin-top:20px;
          padding:15px;
          letter-spacing:1px;
          border:1px solid #ddd;
          border-radius:5px;
          div{
            height:20px;
            line-height:20px;
          }
        }

      }
      .parameter{
        background:url("/html/img/icon-p-y.png") no-repeat 0 2px;
        padding-left:30px;
        h6{
          color:#45494b;
          font-size:16px;
          margin-bottom:12px;
        }
        table{
          width:100%;
          tr{

            text-align:left;
            th{
              padding-left:5px;

            }
          }
          thead{
            th{
              background:#FFF9F3;
              font-size:12px;
              color:#717f8d;
              border-bottom:1px solid #ddd;
              height:36px;
              line-height:36px;
            }
          }
          tbody{

            tr{


              td{ border-bottom:1px solid #ddd;color:#45494b;padding-left:5px}
            }

            tr{
              td:nth-child(1){width:15%;line-height:34px;}
              td:nth-child(2){width:15%;line-height:34px;}
              td:nth-child(3){width:70%;line-height:20px;}
            }

          }
        }
      }


    }
  }
  &:last-child{
    min-height:900px;
  }
}



@font-face {font-family: 'iconfont';
  src: url('/html/img/iconfont.eot'); /* IE9*/
  src: url('/html/img/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/html/img/iconfont.woff') format('woff'), /* chrome、firefox */
  url('/html/img/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('/html/img/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;}