*{
  margin:0;padding:0;font-size:12px;
  a{
    text-decoration:none;
  }
  ul li{
    list-style:none;
  }
}
$color:#238DFA;
header{
  width:100%;height:80px;background:$color;
  line-height:80px;
  .logo{
    width:50px;
    margin-left:50px;
    float:left;
    img{vertical-align:middle;}
  }
  .search{
    float:right;
    width:236px;
    height:30px;
    line-height:30px;
    overflow:hidden;
    border-radius:15px;
    margin-top:25px;
    background:#fff;
    input{
      height:30px;
      font-size:16px;
      width:180px;
      text-indent:25px;
      background:url("/html/img/search_bgb.png;") no-repeat 5px;
      border:0;
      padding:0;
    }
    a{
      display:inline-block;
      width:52px;
      height:28px;
      background:$color;
      font-size:16px;
      line-height:28px;
      text-align:center;
      color:#fff;
      border-bottom-right-radius:15px;
      border-top-right-radius:15px;
      margin-top:1px;
      border-left:1px solid #ccc;
    }

  }
  .changeColor{
    float:right;
    margin:0 50px;
    a{
      width:14px;
      height:14px;
      display:inline-block;
      border-radius:50%;
      margin:0 3px;
    }
  }
}
.notice{
  //width:100%;
  height:30px;
  line-height:30px;
  padding-left:150px;
  background:#FFEDAF;
  color:$color;
  i{
    padding-right:5px;

  }
}

.mainbody{
  width:1000px;
  margin:50px auto;
  ul{
    li{
      float:left;
      width:200px;
      height:220px;
      border:1px solid #E6D0D2;
      margin:22px;
      text-align:center;
      border-radius:5px;
      position:relative;
      .iconfont{
        font-size:70px;
        display:inline-block;
        margin:40px 0 10px;

      }
      p{
        font-size:16px;
      }
      .list{
        color:#999;
        margin-top:10px;
        .iconfont{
          font-size:14px;
          margin:0;

        }
      }
      .btn{
        width:75px;
        margin:15px auto;
        height:20px;
        line-height:20px;
        border-radius:10px;
        border:1px solid $color;
        background:#EBF1FF;
        a{
          color:$color;
          display:inline-block;
          width:75px;
          height:20px;
        }
      }
      &:hover{
        .btn{
          background:$color;
          a{
            color:#fff;
          }
        }
      }
      .new{
        width:30px;
        height:30px;
        background:#27ABFE;
        color:#fff;
        border-radius:50%;
        line-height:30px;
        font-size:16px;
        position:absolute;
        right:-10px;
        top:-10px;
      }
    }
  }
}

footer{
  width:380px;
  margin:620px auto;
  font-size:14px;
  height:25px;
  line-height:25px;
  a{
    display:inline-block;


    img{ vertical-align:middle;}
    &.previous{
      float:left;
      margin-right:15px;
    }
    &.next{
      float:left;
      margin-left:15px;
    }
  }
  ul{

    li{
      float:left;
      margin:0 10px;
      a{color:#000;
      &.active{color:$color;text-decoration:underline}
      }

    }
  }
  .jump{
    margin-left:30px;
    float:left;
    input{
      border:0;
      border-bottom:1px solid black;
    }
    a{
      display:inline-block;
      width:25px;
      height:25px;
      line-height:25px;
      background:$color;
      color:#fff;
      text-align:center;
    }
  }
}


@font-face {font-family: 'iconfont';
  src: url('/html/img/iconfont.eot'); /* IE9*/
  src: url('/html/img/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/html/img/iconfont.woff') format('woff'), /* chrome、firefox */
  url('/html/img/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('/html/img/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;}