<link rel="stylesheet" href="/css/list.css">
    <div class="item-list">
    <% lists.forEach(function(list){ %>
        <div class="item">
            <div class="icon">
                <a href="/ejs/index">
                    <img src="<%= list.icon %>" alt="">
                </a>
            </div><div class="item-title">
            <strong><%= list.name %></strong>
            </div>
            <div class="item-info">
                <span class="version"><%= list.version %></span><span class="time"><%= list.time %></span>
            </div>
            <div class="detailed"><a href="/ejs/index">文档</a>
            </div>
        </div>
    <% }) %>
    </div>
