    <div class="version">
        <p>版本：<span class="verNo"></span>
            <select class="version-list" onchange="verSel()">
                <option value="<%= version.name %>"><%= version.msg %></option>
            </select></p>
        <p>更新时间：<select class="time" onchange="timeSel()">
            <option value="jsonOne">2016/5/20/11:45:00</option>
            <option value="jsonTwo">2016/7/18/10:15:00</option>
            <option value="jsonOne">2016/8/22/9:33:51</option>
        </select>
        </p>
    </div>


