//浏览器重置样式
html, body, div, span, nav, header, iframe,
h1, h2, h3, h4, h5, h6, p, section, footer,
a, form, address, big, cite, code,
del, dfn, em, img, ins, fieldset, q, s, samp,
small, strike, strong, sub, sup,label, var,
b, u, i,input, dl, dt, dd, ol, ul, li{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
html,body{
  font:{
    size: 14px;
    family: "SimHei";
  }
  color: #333;
}
form,fieldset{
  border: 0 none;
}
ol,ul{
  list-style: none;
}
img{
  border: 0 none;
  max-width: 100%;
}
input{
  outline: none;
}
button{
  border: 0;
  font-family:"SimHei";
}
i,em{
  font-style: normal;
}
a{
  color: #535353;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

header{
  height:80px;
  background:rgba(0,178,114,1);
  color:#fff;
  padding:0 30px;
  position:fixed;
  width:100%;
  z-index:99;
  top:0;
  .logo{
    width:60px;
    height:60px;
    float:left;
    margin:10px 20px;
    img{
      width:100%;
      height:100%;
    }
  }
  section{
    height:100%;
    align-items:center;
    display:flex;
    justify-content:space-between;
    max-width:1300px;
    .head-l{
      a{
        color:#fff;
        margin:0 10px;
        &:hover{
          color:#6c6c6c;
        }
      }
    }
    .head-r{
      margin-right:30px;
      .search{
        display:flex;
        position:relative;
        border:1px solid transparent;
        &:hover{
          border:1px solid #fff;
        }
        input{
          background:none;
          color:#fff;
        }
        i{
          display:flex;
          width:25px;
          height:25px;
          background:url("../images/search.png") no-repeat;
          background-size:100% 100%;
        }
        .secrchList{
          position:absolute;
          width:120px;
          max-height:100px;
          overflow-y:auto;
          background:#ccc;
          top:40px;
          left:10px;
          padding:10px;
          display:none;
          li{
            height:20px;
            border:1px solid #999;
            line-height:20px;
          }
        }
      }
    }
  }

}
#containal {
  display:flex;
  margin-top:80px;
  #nav{
    width:200px;
    border-right:2px solid #ccc;
    margin:5px;
    a{
      line-height:35px;
      height:35px;
      display:inline-block;
      width:90%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:hover{
        color:#00b272;
      }
    }
    .nav-head{
      display:flex;
      align-items:center;
      justify-content:space-between;
      &:hover{
        background:rgba(221,236,244,1);
      }
      .text{
        text-indent:20px;
        flex:1;
      }
      .icon{
        width:15px;
        height:15px;
        background:url("../images/category.png") no-repeat;
        background-size:15px;
        margin-right:20px;
        &:hover{
          background:url("../images/category_hover.png") no-repeat;
          background-size:15px;
          cursor:pointer;
        }
      }
    }
    .nav-list{
      .nav-section{
        .mainbav{
          a{
            text-indent:20px;
            background:url("/src/images/right.png") no-repeat 5px center;
            background-size:12px 12px;
          }
          &.open a{
            background:url("/src/images/under.png") no-repeat 5px center;
            background-size:12px 12px;
          }
        }
        li{
          &:hover{
            background:rgba(221,236,244,1);
          }
          a{
            font-size:14px;
            text-indent:30px;
          }
        }
      }
    }
    .active{
      border-left:2px solid #00b272;
      background:rgba(221,236,244,1);
    }
  }
  #content{
    padding: 10px;
    width:1100px;
    margin-left:20px;
    h4{
      margin:30px 0 20px;
    }
    .version{
      line-height:30px;
      display:flex;
      align-items:center;
      justify-content:space-between;
      select{
        margin:0 10px;
      }
    }
    .section{
      margin:20px 0;
      .sec-head{
        margin-bottom:20px;
      }
      .basic-info{
        .item{
          line-height:30px;
          display:flex;
          align-items:center;
          &.urls{
            .method{
              margin:0 10px;
            }
            .copy{
              border:1px solid #ccc;
              margin:0 10px;
              border-radius:3px;
              height:20px;
              line-height:20px;
              &:hover{
                color:#00b272;
              }
            }
            .copysuc{
              display:none;
            }
          }
          &.extype{
            flex-direction:column;
            align-items:flex-start;
          }


        }
      }
      .sec-table{
        ul{
          display:flex;
          border:1px solid #ccc;
          li{
            padding:5px 10px;
            border-left:1px solid #ccc;
            &:first-child{
              border-left:none;
            }
          }
          .col-2{
            flex:2;
          }
          .col-1{
            flex:1;
          }
          .col-6{
            flex:6;
          }

        }
        .sec-table-list{
          ul{
            border-top:none;
            li{
              display:flex;
              align-items:center;
              position:relative;
              .icon-sub{
                width:12px;
                height:12px;
                left:-2px;
                background:url("../images/under.png") no-repeat;
                background-size:100% 100%;
                position:absolute;
                cursor:pointer;
                &.open{
                  background:url("../images/right.png") no-repeat;
                  background-size:100% 100%;
                }
              }
              &:first-child{
                color:#f00;
              }
            }
          }
          .sub{
            ul{
              li:first-child{
                text-indent:10px;
              }
            }
          }
        }

      }
    }
  }
}

